<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

<title>Học viện Công nghệ Bưu chính Viễn thông</title>

<link rel="canonical"
	href="https://getbootstrap.com/docs/4.0/examples/navbars/">

<!-- Bootstrap core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Custom styles for this template -->
<link th:href="@{/css/style.css}" rel="stylesheet">

<link rel="icon" th:href="@{/image/favicon.ico}">

</head>

<body>

	<!-- Navbar -->
	<div th:fragment="navbar">
		<nav class="navbar navbar-expand-lg bg-light">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbar" aria-controls="navbarTogglerDemo03"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="ml-3 nav-link text-light" th:href="@{/}">Trang chủ</a>

			<div sec:authorize="isAuthenticated()"
				class="collapse navbar-collapse" id="navbar">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li style="margin: 0 50px;"><a class="nav-link text-light"
						th:href="@{/studentMark}">Xem điểm</a></li>

				</ul>

				<ul class="navbar-nav ml-auto">

					<li class="studentInfo" style="">Chào bạn <span
						th:text="${student.name} + ' (' + ${student.code} + ')'"></span></li>

					<li style="margin-right: 40px;"><a class="nav-link text-light"
						th:href="@{/changePassword}">Thay đổi mật khẩu</a></li>

					<li style="margin-right: 40px;"><a class="nav-link text-light"
						th:href="@{/logout}">Thoát</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<!-- End of navbar -->

	<div th:fragment="footer" class="p-3 mb-2 bg-dark text-white">
		<br /> <br />
		<footer>
			<div class="row">
				<div class="col-sm-3 footerleft">
					<div class="logofooter">
						<img class="img-fluid" th:src="@{/image/logo.png}"
							style="width: 200px;" />
					</div>
				</div>

				<div class="col-sm-2 paddingtop-bottom">
					<!-- <h6 class="heading7">Liên kết</h6>
					<ul class="footer-ul">
						<li><a href="#"> Thông tin cá nhân</a></li>
						<li><a href="#"> Nghiên cứu khoa học</a></li>
						<li><a href="#"> Câu hỏi thường gặp</a></li>
					</ul> -->
				</div>

				<div class="col-sm-4 paddingtop-bottom">
					<h6 class="heading7">Liên hệ</h6>
					<ul class="post">
						<li>
							<p>
								<i class="fa fa-map-pin"></i> Nguyễn Trãi, Hà Đông, Hà Nội
							</p>
						</li>
						<li>
							<p>
								<i class="fa fa-phone"></i> Điện thoại: 0210 3556 442
							</p>
						</li>
						<li>
							<p>
								<i class="fa fa-envelope"></i> Email: ptit@gmail.com
							</p>
						</li>
					</ul>
				</div>

				<div class="col-sm-3 paddingtop-bottom">
					<h6 class="heading7">Giờ làm việc</h6>
					<div class="post">
						<ul>
							<li><p>Thứ 2 - Thứ 7: 9SA - 11CH</p></li>
							<li><p>Chủ nhật: 10SA - 10CH</p></li>
						</ul>

					</div>
				</div>
			</div>
		</footer>
	</div>

	<div th:fragment="body-bottom-scripts">
		<!-- Bootstrap core JavaScript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/script.js}"></script>
	</div>
</body>
</html>